/* mat-mdc-form-field is changed to allow filter to occupy 100% width */
.mat-mdc-form-field {
  display: block;
}

.m-bt {
  margin-bottom: 1em;
}

.add-btn {
  display: flex;
  width: 100%;
  height: 70% !important;
  flex-direction: row-reverse;
  font-size: medium;
  justify-content: center;
}

.add-btn mat-icon {
  margin-left: 0.3rem;
}

